---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GrettingName from "../components/react/GrettingName";
import {SITE_TITLE, SITE_DESCRIPTION} from "../consts";
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main>
    <GrettingName client:load/>
    <p>
        En este espacio podras explorar, aprender y crecer en la fe.
    </p>
    <p>
        Aquí encontrarás el material visto en clase con respuestas claras y breves sobre algunos temas esenciales que
        veremos en la catequesis de confirmación.
    </p>
    <p>
        Prepárate para confirmar tu fe y compartirla con los
        demás. ¡Comencemos juntos este viaje!
    </p>
</main>
<Footer/>
</body>
</html>
